/* Sherlock CSS */
.Sherlock_game_main
{
    position: absolute;

    float: left;

    width: 100%;
    height: 900px;

    background-color: aqua;
}
.Sherlock_game_main.Sherlock_show_hint
{
    opacity: .1;
}
.main_window
{
    position: relative;

    float: left;

    width: 642px;
    padding: 10p;

    background-color: green;
}
.window_buttons  #button_new,
.window_buttons  #button_restart,
.window_buttons  #button_remove,
.window_buttons  #button_wrong,
.window_buttons  #button_hint,
.window_buttons.Sherlock_state_game  #button_start,
.window_buttons.Sherlock_state_game  #button_level,
.window_buttons.Sherlock_state_game  #button_name,
.window_buttons.Sherlock_state_game  #button_about
{
    display: none;
}
.window_buttons.Sherlock_state_game  #button_new,
.window_buttons.Sherlock_state_game  #button_restart,
.window_buttons.Sherlock_state_game  #button_remove,
.window_buttons.Sherlock_state_game  #button_hint,
.window_buttons.Sherlock_state_game  #button_wrong
{
    position: relative;

    display: block;
    float: left;
}

.game_field
{
    position: absolute;

    float: left;

    width: 80%;
    height: 80%;

    background-color: yellow;
}
.sherlock_field
{
    width: 100%;
    height: 100%;
}
.window_buttons
{
    position: relative;

    float: left;

    width: 60%;
    height: 100px;
    margin: 10px 0;

    background-color: red;
}
.window_buttons > button > img
{
    width: 100%;
    height: 100%;
    margin-top: -2px;
    margin-left: -6px;
}
.window_info
{
    position: relative;

    float: left;

    width: 25%;
    height: 100px;
    margin: 10px 10px;

    text-align: center;

    background-color: blue;
}
.left_tips
{
    position: relative;
    /*float: left;*/

    width: 580px;
    margin-left: 642px;
    padding: 8px;
    height: 704px;
    background-color: silver;
}
.left_tips_number
{
    position: relative;

    float: left;

    width: 186px;
    height: 83px;
    margin: 2px;

    border: 1px solid black;
    background-color: aquamarine;
}
.down_tips
{
    position: absolute;
    top: 725px;

    height: 168px;
    margin-bottom: px;

    background-color: silver;
}
.down_tips_number
{
    float: left;

    width: 60px;
    height: 95%;
    margin-top: 1px;
    margin-left: 2px;

    border: 1px solid black;
    background-color: aquamarine;
}
.buttons_sherlock
{
    position: relative;
    right: 4%;
    left: 10px;

    float: initial;

    width: 30%;
    /* top: 2px; */
    /* bottom: 10%; */
    height: 27px;
    margin: auto;
    margin: 2px;

    cursor: pointer;
}
.window_info_name
{
    font-size: 1.2em;
    /* padding: 0px; */
    /* margin: 0px; */

    position: relative;
    top: -15px;

    text-align: center;
    /* margin-bottom: -25px; */
}
.window_info_name > p
{
    margin-bottom: auto;

    color: red;
}
.sherlock_name
{
    color: green;
}
.window_info_level
{
    font-size: 1.3em;

    position: relative;
    top: -40px;

    float: left;

    width: 100%;
    margin-bottom: 3px;

    color: turquoise;
}
.sherlock_timer
{
    font-size: 1.5em;

    position: relative;
    top: -40px;

    float: left;

    width: 100%;
    margin-bottom: 5px;

    color: chartreuse;
}
.sherlock_background > table
{
    position: relative;
    top: 3px;
    left: -12px;
}
.sherlock_field_main
{
    position: relative;

    float: left;

    width: 99px;
    height: 590px;
    margin: 1px;

    border: 3px solid black;
    background-color: wheat;
}
.sherlock_background
{
    height: 93px;
    margin-top: 2px;
    margin-right: 14px;
    margin-bottom: 2px;
    margin-left: 14px;

    background-color: silver;
}
.sherlock_pict
{
    position: relative;
    /* background: url(BasicBig.bmp) -60px 0px; */
    top: 5px;
    left: 2px;

    width: 60px;
    height: 83px;
    /* background-color: azure; */
    margin: 4px;
}
.sherlock_pict > img
{
    position: relative;
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;
}
.input
{
    position: absolute;
    top: 625px;
    left: 30px;

    display: none;

    width: 500px;
    height: 70px;
    padding: 10px;

    background-color: white;
}
.input > p
{
    /*background: red;  */
    margin-top: 5px;
}
td.small span
{
    display: block;

    width: 30px;
    height: 40px;
}
td.down-tip span
{
    display: block;

    width: 60px;
    height: 80px;
    margin-left: -2px;
}

.Sherlock_hint
{
    position: fixed;
    top: 300px;
    left: 1%;

    width: 560px;
    min-height: 150px;

    opacity: 1;
    border: 3px solid;
    background: silver;
}
/*.Sherlock_hint span
{
    width: 30px;
    height: 40px;
    
}*/
.Sherlock_hint img
{
    width: 30px;
    height: 40px;

    vertical-align: middle;
}
