/* Sherlock CSS */
.Sherlock_game_main
{
    position: absolute;

    float: left;

    width: 1350px;
    height: 900px;

    background-color: aqua;
}
.main_window
{
    position: absolute;

    float: left;

    width: 760px;
    height: 70%;

    background-color: green;
}
.window_buttons  #button_new,
.window_buttons  #button_restart,
.window_buttons  #button_remove,
.window_buttons  #button_wrong,
.window_buttons  #button_hint,
.window_buttons.Sherlock_state_game  #button_start,
.window_buttons.Sherlock_state_game  #button_level,
.window_buttons.Sherlock_state_game  #button_name
{
    display: none;
}
.window_buttons.Sherlock_state_game  #button_new,
.window_buttons.Sherlock_state_game  #button_restart,
.window_buttons.Sherlock_state_game  #button_remove,
.window_buttons.Sherlock_state_game  #button_hint,
.window_buttons.Sherlock_state_game  #button_wrong
{
    position: relative;

    display: block;
    float: left;
}

.game_field
{
    position: absolute;

    float: left;

    width: 80%;
    height: 80%;

    background-color: yellow;
}
.sherlock_field
{
    width: 85%;
    height: 78%;
}
.window_buttons
{
    position: absolute;
    top: 620px;

    float: left;

    width: 75%;
    height: 100px;

    background-color: red;
}
.window_buttons > button > img
{
    width: 114%;
    height: 112%;
    margin-top: -2px;
    margin-left: -6px;
}
.window_info
{
    position: absolute;
    top: 620px;
    left: 75%;

    float: left;

    width: 25%;
    height: 100px;

    text-align: center;

    background-color: blue;
}
.left_tips
{
    position: absolute;
    left: 764px;

    float: right;

    width: 577px;
    height: 720px;

    background-color: silver;
}
.down_tips
{
    /* float: center;*/
    position: absolute;
    top: 725px;

    width: 100%;
    height: 173px;
    margin-bottom: 3px;

    background-color: aqua;
}
.down_tips_number
{
    float: left;

    width: 4.4%;
    height: 95%;
    margin-top: 2px;
    margin-left: 2px;

    border: 1px solid black;
    background-color: aquamarine;
}
.left_tips_number
{
    float: left;

    width: 186px;
    height: 83px;
    margin: 2px;

    border: 1px solid black;
    background-color: aquamarine;
}
.buttons_sherlock
{
    position: relative;
    right: 4%;
    left: 28px;

    float: initial;

    width: 28%;
    /* top: 2px; */
    /* bottom: 10%; */
    height: 27px;
    margin: auto;
    margin: 2px;

    cursor: pointer;
}
.window_info_name
{
    font-size: 1.2em;
    /* padding: 0px; */
    /* margin: 0px; */

    position: relative;
    top: -15px;

    text-align: center;
    /* margin-bottom: -25px; */
}
.window_info_name > p
{
    margin-bottom: auto;

    color: red;
}
.sherlock_name
{
    color: green;
}
.window_info_level
{
    font-size: 1.3em;

    position: relative;
    top: -40px;

    float: left;

    width: 100%;
    margin-bottom: 3px;

    color: turquoise;
}
.sherlock_timer
{
    font-size: 1.5em;

    position: relative;
    top: -40px;

    float: left;

    width: 100%;
    margin-bottom: 5px;

    color: chartreuse;
}
.sherlock_background > table
{
    position: relative;
    top: 3px;
    left: -12px;
}
.sherlock_field_main
{
    position: relative;
    top: 1%;
    left: 2%;

    float: left;

    width: 99px;
    height: 590px;
    margin: 1px;

    border: 3px solid black;
    background-color: wheat;
}
.sherlock_background
{
    height: 93px;
    margin-top: 2px;
    margin-right: 14px;
    margin-bottom: 2px;
    margin-left: 14px;

    background-color: silver;
}
.sherlock_pict
{
    position: relative;
    /* background: url(BasicBig.bmp) -60px 0px; */
    top: 5px;
    left: 2px;

    width: 60px;
    height: 83px;
    /* background-color: azure; */
    margin: 4px;
}
.sherlock_pict > img
{
    position: relative;
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;
}
.input
{
    position: absolute;
    top: 625px;
    left: 30px;

    display: none;

    width: 500px;
    height: 70px;
    padding: 10px;

    background-color: white;
}
.input > p
{
    /*background: red;  */
    margin-top: 5px;
}
td.small span
{
    display: block;

    width: 30px;
    height: 40px;
}
td.down-tip span
{
    display: block;

    width: 60px;
    height: 80px;
    margin-left: -2px;
}
